.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.calculator-container {
  width: 24.4rem;
  align-self: center;
  display: grid;
  grid-template-columns: repeat(4, 6rem);
  grid-template-rows: minmax(4rem, auto) repeat(5, 6rem);
  gap: 2px;
  font-size: 20px;
  background-color: #c4c4c7;
  border: 5px solid #c4c4c7;
}

.display-result {
  text-align: end;
  padding-top: 20px;
  padding-right: 10px;
  grid-column: 1/ -1;
  background-color: gray;
  color: white;
  margin: 0;
}

.operations {
  background-color: orange;
  font-size: 20px;
}

.numbers {
  font-size: 20px;
}

button {
  border: none;
}

.zero {
  grid-column: span 2;
}
